USE [master]
GO
/****** Object:  Database [BankOfSpain]    Script Date: 6/1/2020 11:55:22 AM ******/
CREATE DATABASE [BankOfSpain]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BankOfSpain', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.AQUARIUM\MSSQL\DATA\BankOfSpain.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BankOfSpain_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.AQUARIUM\MSSQL\DATA\BankOfSpain_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BankOfSpain].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BankOfSpain]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 6/1/2020 11:55:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[user_id] [numeric](18, 0) NOT NULL,
	[AccountNumber] [numeric](18, 0) NULL,
	[Cheque] [real] NULL,
	[Savings] [real] NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 6/1/2020 11:55:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Name] [varchar](50) NULL,
	[Surname] [varchar](50) NULL,
	[Age] [numeric](18, 0) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[user_id] [char](10) NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 6/1/2020 11:55:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[user_id] [numeric](18, 0) NULL,
	[ChequeDeposit] [real] NULL,
	[ChequeWithdrawal] [real] NULL,
	[ChequeBalance] [real] NULL,
	[SavingsDeposit] [real] NULL,
	[SavingsWithdrawal] [real] NULL,
	[SavingsBalance] [real] NULL,
	[DateTime] [nvarchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
